@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: #F1FAEE;
}

h1,h4, p,
a {
  color: #457B9D;
  text-decoration: none;
}

ul {
  list-style-type: none; /*removes the bullet points*/
}

.button {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #E63946;
  color: #F1FAEE;
  border: 1px solid  #1D3557;
  font-weight:600;
  cursor: pointer;
}

.button-light {
  background: transparent;
  color: #fff;
}

.button:hover {
  background: #A8DADC;
  color: #fff;
  transition: 0.3;
}
