.about { 
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about-me {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}

.about-me p {
    margin: 1.2rem 0;
}