.footer {
    width: 100%;
    padding: 6rem 0;
    background-color: #166c96;
}

.footer-container {
     max-width: 1140px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 40px;
}

.footer-contents {
    font-size: 30px;
}

.location {
    display: flex;
    margin-bottom: 0.8rem;
}

.location p {
    line-height: 30px;
}



.social {
    margin-top: 1rem;
}

@media screen  and (max-width: 640px) {
    .footer-container {
        
        grid-template-columns: 1fr;
        
   }
}

